recursive-include wazo_plugind_admin_ui_trunk_official/templates *
recursive-include wazo_plugind_admin_ui_trunk_official/static *
recursive-include wazo_plugind_admin_ui_trunk_official/translations *
