{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Trunk', '', 'server', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Trunks', 'server') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Name</th>
          <th>Description</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(trunk) build_list_table_rows(resource_list['items']) %}
          <td>{{ trunk.name }}</td>
          <td>{{ trunk.description }}</td>
          <td>
            {{ add_edit_button(href=url_for('.TrunkView:get', id=trunk.id)) }}
            {{ add_delete_button(href=url_for('.TrunkView:delete', id=trunk.id)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Trunk') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
